* {
    font-family: PT Sans, sans-serif;
}

.btn {
    border-radius: 5px !important;
}

.form-control {
    border-radius: 10px !important;
    border: 2px solid rgba(52, 52, 52, 0.25);
}

:root {
    --primary: rgb(255, 75, 75);
    --secondary: rgb(27, 122, 152);
    --dark: rgb(52, 52, 52);
    --light: rgb(225, 225, 225);
}

.header {
    display: flex;
    padding-bottom: 0px;
    align-items: center;
    gap: 24.655px;
    align-self: stretch;
}

.text-crop {
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.bg-light {
    background: var(--light) !important;
}

body {
    background: var(--primary) !important;
    background-image: url('pc pattern.png') !important;
    background-repeat: repeat !important;
}

.modal {
    background-color: rgba(255, 75, 75, 0.75);
}

.button {
    background-color: transparent;
    border: none;
}

.card {
    border-radius: 10px !important;
}

.modal-body {
    border-radius: 20px !important;

}

.text-primary {
    color: var(--primary) !important;
}

.bg-primary {
    background: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.bg-secondary {
    background: var(--secondary) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.bg-dark {
    background: var(--dark) !important;
}

.btn-primary {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
    color: #fff !important;
}

.btn-secondary {
    background: var(--secondary) !important;
    border-color: var(--secondary) !important;
    color: #fff !important;
}

.btn-outline-dark {
    color: var(--dark) !important;
    border-color: var(--dark) !important;
    background: transparent !important;
}

.middle-stroke {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
}

.disabled {
    opacity: 0.6 !important;
}

.fs-10 {
    font-size: 10px !important;
}

.header-title {
    color: #FFF;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.975px;
    text-transform: capitalize;
    display: inline-block;

}

.header-subtitle {
    color: #FFF;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.675px;
    text-transform: capitalize;
    display: inline-block;

}

.border-15 {
    border-radius: 15px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-19 {
    font-size: 19px !important;
}

img {
    position: absolute;
    width: 27%;
    bottom: 0;
}

.login-width {
    width: 55% !important;
}

@media screen and (max-width: 768px) {
    .fs-10 {
        font-size: 8px !important;
    }

    .fs-13 {
        font-size: 10px !important;
    }

    .fs-16 {
        font-size: 13px !important;
    }

    .fs-19 {
        font-size: 16px !important;
    }

    .header-title {
        color: #FFF;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.48px;
        text-transform: capitalize;
        width: 100%;
        display: inline-block !important;

    }

    .header-subtitle {
        color: #FFF;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.33px;
        text-transform: capitalize;
        width: 100%;
        display: inline-block !important;

    }

    .modal-content {
        border-radius: 10px !important;

    }

    body {
        background: var(--primary) !important;
        background-image: url('mobile pattern.png') !important;
        background-repeat: repeat !important;
    }

    img {
        position: absolute;
        width: 75% !important;
        bottom: 0;
    }

    .modal-dialog {
        position: fixed;
        top: auto;
        right: 10px;
        left: 10px;
        bottom: 10px;
        width: 90%;
        margin-bottom: 10px;
        min-height: 0;
    }

    * {
        max-width: none !important;
    }

    .header {
        text-align: center;
        margin: auto;
        display: block;
        width: 100%;
    }

    .main-header {
        display: block !important;
    }

    .btn-custom {
        width: 100%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block !important;
    }

    .login-width {
        width: 90% !important;
    }
}